@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

body {
    overflow: hidden;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    border: 1px solid black;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
