@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

body {
    overflow: hidden;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    border: 1px solid black;
}

.content-page {
    display: flex;
}
