.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    width: 100%;
}

.data {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.error {
    color: var(--red-dark);
}
