.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.createBtn {
    margin-left: 20px;
}

.buttons {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
