.editableProfileCardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.editBtn {
    margin-left: auto;
}

.buttons {
    display: flex;
    gap: 20px;
}
